#root {
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: blueviolet;
}

.gameBoard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button {
  font-size: 75px;
  margin: 5px;
  padding: 5px;
  border: 3px solid blueviolet;
  background-color: plum;
  width:150px;
  height: 150px;
}

.play {
   font-size: 30px;
  border-radius: 12px;
  background-color: orangered;
  color: black;
}

